@import url('https://fonts.cdnfonts.com/css/helvetica-neue-5');

body {
    font-family: 'Helvetica Neue', sans-serif;
    margin: 0;
    height: 100vh;
    background-color: black;
    color: whitesmoke;
}

.header {
    padding: 1.5em;
    text-align: center;
}

.logo {
    font-weight: bolder;
    font-size: 5vh;
    margin-bottom: -5px;
}

.banner {
    width: 100%;
    height: 100vh;
    opacity: 0.3;
    object-fit: cover;
}

.content {
    position: relative;
    text-align: center;
    display: flex;
}

.szn {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-weight: bolder;
    font-size: 20vh;
}

.szn a:hover {
    color: #c6c6c6;
}

.title2 a:hover {
    color: #c6c6c6;
}

a {
    text-decoration: none;
    color: whitesmoke;
}

.model {
    height: 75vh;
    width: auto;
}

.intro {
    position: relative;
    text-align: center;
    display: flex;
}

.widepic {
    width: 100%;
    height: 100vh;
    object-fit: cover;
    opacity: 0.5;
}

.szn2 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-weight: bolder;
    font-size: 10vh;
}

.title2 {
    font-weight: bolder;
    font-size: 5vh;
    position: absolute;
    top: 1.2em;
    left: 50%;
    transform: translate(-50%, -50%);
}

.models {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 4em;
    background-color: white;
    padding-top: 4em;
}

.arrow {
    height: 3vh;
    width: auto;
    position: absolute;
    top: 95%;
    left: 50%;
    transform: translate(-50%, -50%);
}